div#body {
	height: 300px;
	padding: 120px 0;
	background-image: url(../../images/backgrounds/homeback.jpg);
	background-position: center center;
	background-repeat: no-repeat;
}

div.error_wrapper {
	text-align: center;
	color: #FFF;
	text-shadow: 2px 2px 4px #000;
}
h1 {
	font-size: 90px;
	margin: 60px 0;
}
p.error_description {
	font-size: 22px;
	margin: 60px 0;
}